* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

}

.home-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr .5fr 1fr;
  gap: 5px;
  height: 100vh;
  width: 100%;
  margin: 4px;
  
}

.about {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.work {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.center {
  grid-column: 2 / 2;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: rgba(131, 201, 50, 0.74);
}

.projects {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.connect {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.home {
  outline: transparent;
  color: black;

  &:hover {
    transition: all .4s;
    transform: scale(1.01);
    outline: 1px solid black;
    color: green;
  }
}