* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

}

body {
}

/* HOME PAGE */

.home-page {
  display: grid;
  grid-template-columns: 1fr .5fr 1fr;
  grid-template-rows: 1fr .5fr 1fr;
  gap: 10px;
  margin: 4px;
  height: 100vh;
  width: 100%;
  background-color: rgba(34, 34, 34, 0.849);
}

.about {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.work {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.center {
  grid-column: 2 / 2;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: rgba(131, 201, 50, 0.74);
}

.projects {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.connect {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.home {
  outline: transparent;
  color: black;
  font-size: 5vw; /* Scales the text size */
  border-radius: 3px;

  &:hover {
    transition: all .4s;
    transform: scale(1.01);
    outline: 3px solid rgb(1, 255, 22);
    color: rgba(255, 255, 255, 0.603);
    background-color: rgba(0, 0, 0, 0.315);
  }
}

/* ABOUT PAGE */


.about-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 5rem;

}

.about-font {
  font-size: 25px;
  font-weight: 700;
}

.about-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about-subsection {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}

.subsection-right {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.subsection-header , .subsection-status {
  margin-bottom: 10px;
}

.subsection-logo > img {
  width: 15px;
}

.subsection-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.subsection-logo , .subsection-status, .subsection-date {
  font-size: 14px;
}

.subsection-status {
  padding: 4px 15px;
  border-radius: 20px;
}

.modal {
  margin: auto;
}




/* NAVBAR, FOOTER AND CONTAINER */

.container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3vw 5vw 3vw 5vw;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: antiquewhite;
  padding: 2rem;
}

.hidden {
  display: none;
}

.dropdown-menu {
  position: absolute;
  list-style-type: none;
}

.dropdown-menu li a {
  color: black;
}
